/* Header Portion */
header{
    background-color: #003049;
    color: #FDF0D5;
    display: grid;
    font-family: "Newsreader", sans-serif;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "date title"
        "attendance title"
        "links title";
    justify-content: center;
    height:auto;
    overflow-wrap: break-word;
}
.title{
    --main-color:#FDF0D5;
    background-color: var(--main-color, lightblue);
    grid-row:span 3;
    grid-area: title;
}
.title > h1{
    background-color: #003049;
    font-size:100px;
    text-align: center;
    font-style: italic;
    overflow-wrap: break-word;

}
.date{
    grid-area: date;
}
ul li{
    display:inline;
    margin: 20px 20px 10px 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:#FDF0D5;
    border-bottom-right-radius:10px;
}
.links{
    padding-bottom: 10px;
}
.links a{
    color: #FDF0D5; 
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.attendance{
    .leader ~ .designer{
        color: #669BBC;
    }
}
header h1{
    color: #FDF0D5;
}
header h2{
    color: #669BBC;
}

/* Main Body*/
main{
    background-color: #FDF0D5;
    color: color(display-p3 0.5 0 0);
    font-family: "Newsreader", sans-serif;
}
main > h1{
    font-style:italic;
    text-align: center;
}
/*Annoucements*/
.annoucements{
    display:flex;
    flex-direction:row;
}
span{
    text-decoration: underline #003049;
}
/*Summary*/
.summary-container > h1{
    font-style:italic;
    text-align: center;
}
.subsection{
    position: static;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    /*sets margin/spacing between different elements in a section*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:5px;
    margin-right:5px;
}
.taskcard{
    text-align: center;
    border-width: 2px; 
    border-style: solid;
    color: #FDF0D5;
    border-color: #669BBC;
    background-color: #003049;
    border-radius: 5px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
    min-width: 100px;
}
.mystery-taskcard{
    display:none;
}
.comments-container .taskcard{
    margin:auto;
}
.form-container{
    background-color: hsl(0, 57%, 21%);
    color: #FDF0D5;
    font-family: "Newsreader", sans-serif;

    
}
.form-container h1{
    color: lightblue;
    text-align:center;
    font-style:italic;
    font-size: 50px;
    padding-top:5vh;
}
input[type = "text"]{
    font-size: 2rem;
    color: red;
}
/*Footer*/
footer{
    font-family: "Newsreader", sans-serif;
    position:fixed;
    bottom: 0;
    width:100vw;
    height:2vh;
    background-color: #003049;
    color: color-mix(in srgb, #003049 25%, #FDF0D5 75%);
}
/*Images and Video*/
#resume-pic{
    width: 4in;
    height: 15cm;
}

img{
    width: 400px;
    height: 300px;
    border: 10px solid #FDF0D5;
}
video{
    width: 400px;
    height: 300px; 
}